<div class="container app">
  <div class="row"> 
    <div class="col-sm-12">
      <h1 class="text-center">
        {{title}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <h2>Listado de Personas: </h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas; let i = index" (click)="editPersona(i)"> 
            <td>{{persona.codigo}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.edad}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-sm-5" [attr.disabled]= "false" >
      <h2>Editar Datos:</h2>
      <form class="form-horizontal">
        <div class="form-group" >
          <label class="control-label col-sm-3">Código:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="modelAuxPersona.codigo" name = "codigo" >
          </div>
        </div>
        <div class="form-group" >
          <label class="control-label col-sm-3">Nombre:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="modelAuxPersona.nombre" name = "nombre">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Apellido:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="modelAuxPersona.apellido" name = "apellido">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Edad:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="modelAuxPersona.edad" name = "edad">
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" (click)="modificarPersona()">
              Guardar
            </button>

            <button type="button" class="btn btn-danger" (click)="cancelar()">
              Cancelar
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  
